<div class="main-search">

  <div class="search-img-wrapper">
    <img id="front-image" alt="" src="../../assets/images/logo.png" title="">
  </div>

  <ul class="search-types">
    <li class="search-type current" data-type="article">博客</li>
    <li class="search-type" data-type="news">新闻</li>
    <li class="search-type" data-type="question">问答</li>
  </ul>

  <input class="search-input">

  <div class="search-button-area">
    <button type="button" class="search-button">Search
    </button>
  </div>

</div>
